<h1>The Global Math Project Movement!</h1>
Click here to ---> <%= link_to "Join The Movement!", "https://www.theglobalmathproject.org" %>
<div id="map_canvas" data-coordinates='<%= @subscriber_coordinates %>'>

</div>
