// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graticule {
  display: none;
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  fill: #383838;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
