<!DOCTYPE html>
<html>
<head>
  <title>Movement | The Global Math Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <meta property="og:title" content="The Global Math Project Movement!" />
  <meta property="og:url" content="https://movement.theglobalmathproject.org" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.theglobalmathproject.org/wp-content/uploads/2016/05/movement_image.png" />
  <meta property="og:description" content="Follow the movement with this up-to-the-minute map!" />
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
